<%= include('includes/top.tmpl') %>

    <div class="main">
    	<div class="mapHolder">
    		<div class="mapBottomBar"></div>
            <%= include('includes/mapTooltip.tmpl') %>
    	</div>
    </div>

<%= include('includes/bottom.tmpl') %>