<%= include('includes/top.tmpl') %>

    <div class="main hideMe <%= is_rtl %>">
        <div class="mapLegend__mobile hideLegacy">
            <h6><%= big_map_key1 %></h6>
            <p><%= big_map_key2 %></p>
            <p><%= big_map_key3 %></p>
        </div>
    	<div class="mapHolder">
            <div class="mapLegend__desktop">
                <h6><%= big_map_key1 %></h6>
                <%= big_map_key2 %><br/>
                <div class="legendKeys">
                    <svg height="10" width="10">
                        <circle cx="5" cy="5" r="4" stroke="rgba(255,255,255,.6)" stroke-width="0.5" fill="rgba(222,88,87,.4)" />
                    </svg>
                    1
                    <svg height="14" width="14">
                        <circle cx="7" cy="7" r="6" stroke="rgba(255,255,255,.6)" stroke-width="0.5" fill="rgba(222,88,87,.4)" />
                    </svg>
                    10
                    <svg height="60" width="60">
                        <circle cx="30" cy="30" r="29" stroke="rgba(255,255,255,.6)" stroke-width="0.5" fill="rgba(222,88,87,.4)" />
                    </svg>
                    100
                </div>
                <%= big_map_key3 %>
            </div>
            <div class="restartButton hideLegacy">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="28.109px" height="28.998px" viewBox="0 0 28.109 28.998" enable-background="new 0 0 28.109 28.998" xml:space="preserve">
                <g>
                    <path fill="#FFFFFF" d="M21.221,16.786c0,4.257-3.463,7.719-7.718,7.719c-4.256,0-7.719-3.462-7.719-7.719
                        c0-4.256,3.463-7.719,7.719-7.719c0.137,0,0.271-0.007,0.406,0v-3.25c-0.137-0.005-0.27,0-0.406,0
                        c-6.058,0-10.969,4.911-10.969,10.969c0,6.059,4.911,10.969,10.969,10.969c6.058,0,10.968-4.91,10.968-10.969
                        c0-0.137,0.006-0.27,0-0.406h-3.25C21.229,16.516,21.221,16.649,21.221,16.786z"/>
                    <polygon fill="#FFFFFF" points="15.533,1.755 15.533,13.13 25.283,7.442  "/>
                </g>
                </svg>

                <span><%= replay %></span>
            </div>
            <div class="interactiveInfoOverlay hideLegacy">
                <h4>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 21.053 22.808" width="22px" height="22px"  style="enable-background:new 0 0 21.053 22.808;" xml:space="preserve">
                    <polygon style="fill:#FFFFFF;" points="10.526,7.024 10.526,0 7.018,0 6.227,14.111 1.754,10.527 0,12.281 8.771,22.808 
                        21.053,22.808 21.053,10.527 "/>
                    </svg>

                    <%= cta %>
                </h4>
            </div>
    		<div class="mapBottomBar">
    			<div class="stat stat__days">
    				<strong>0 </strong><%= big_map_days %>
    			</div>
    			<div class="stat stat__countries">
    				<strong>0 </strong><%= big_map_countries %>
    			</div>
    			<div class="stat stat__attacks">
    				<strong>0 </strong><%= big_map_attacks %>
    			</div>
    			<div class="stat stat__deaths">
    				<strong>0 </strong><%= big_map_death %>
    			</div>
    		</div>
            <%= include('includes/mapTooltip.tmpl') %>
    	</div>
        <div class="mini-maps">
            <div class="mini-map mini-map__iraq">
                <h4><%= small_map1_title %></h4>
                <div class="miniMapCanvases"></div>
            </div>
            <div class="mini-map mini-map__afgahn">
                <h4><%= small_map2_title %></h4>
                <div class="miniMapCanvases"></div>
            </div>
            <div class="mini-map mini-map__nigeria">
                <h4><%= small_map3_title %></h4>
                <div class="miniMapCanvases"></div>
            </div>
            
            <%= include('includes/miniMapTooltip.tmpl') %>
        </div>
        <div class="mini-maps-legend">
            <h4><%= big_map_key1 %></h4>
            <div>
                <span class="legnedText"><%= big_map_key2 %></span>
                <span class="legendKeys">
                    <svg height="10" width="10">
                        <circle cx="5" cy="5" r="4" stroke="rgba(255,255,255,.6)" stroke-width="0.5" fill="rgba(222,88,87,.4)" />
                    </svg>
                    1
                    <svg height="14" width="14">
                        <circle cx="7" cy="7" r="6" stroke="rgba(255,255,255,.6)" stroke-width="0.5" fill="rgba(222,88,87,.4)" />
                    </svg>
                    10
                    <svg height="60" width="60">
                        <circle cx="30" cy="30" r="29" stroke="rgba(255,255,255,.6)" stroke-width="0.5" fill="rgba(222,88,87,.4)" />
                    </svg>
                    100
                </span> 
                <span class="legnedText"><%= big_map_key3 %></span>
            </div>
        </div>
    </div>

    <script>
    window.vocbas = <%= include('../vocabs/' + vocab_dir + '.json') %>;
    </script>

<%= include('includes/bottom.tmpl') %>