<%= include('includes/top.tmpl') %>

    <div class="main">
    	<div class="mapHolder">
    		<div class="mapBottomBar">
    			<div class="stat stat__days">
    				<strong>30 </strong>days
    			</div>
    			<div class="stat stat__countries">
    				<strong>18 </strong>countries
    			</div>
    			<div class="stat stat__attacks">
    				<strong>1025 </strong>attacks
    			</div>
    			<div class="stat stat__deaths">
    				<strong>2423 </strong>deaths
    			</div>
    		</div>
            <%= include('includes/mapTooltip.tmpl') %>
    	</div>
    </div>

<%= include('includes/bottom.tmpl') %>