.main{
	display: none;
    background-color: #f9f9f9;
    color: $mainTextColor;
    font-size: 10px;
}

.county-select-header{
	text-align: center;
	font-size: 2.4em;
	margin-bottom: 0.2em;
}

.county-select-wrapper{
	border: 1px solid #A6A6A6;
	display: block;
	width: 100%;
	max-width: 460px;
	margin: 0 auto;

	.county-select{
		width: 100%;
		display: block;
		height: 50px;
		border: 0;
		background-color: #FFF;
		font-weight: bold;
		font-size: 2.8em;
		color: $mainTextColor;
	}
}

.charts-wrapper{
	position: relative;
	width: 90%;
	margin: 35px auto 10px auto;
}