.main{
    background-color: #f9f9f9;
}

.county-select{
	margin: 0 auto;
	display: block;
	width: 460px;
	height: 50px;
	background-color: #FFF;
	border: 1px solid #9d9d9d;
	font: bold 32px Arial;
	color: $mainTextColor;
}

.charts-wrapper{
	width: 100%;
	margin: 35px auto 10px auto;
}