.deaths-chart{
	display: none;

	.deaths-chart--header{
		h4{
			display: inline-block;
			margin: 0.3em 0 0 0.5em;
			font: bold 24px Arial;
			vertical-align: top;
			color: $mainTextColor;
		}
	}


	.deaths-chart--labels{
		float: left;
		display: block;
		width: 95px;
		margin: 35px 0 0 0;
		padding: 0;
		list-style: none;

		li{
			text-align: right;
			display: block;
			margin: 6px 0 12px 0;
			font: normal 18px Arial;
		}
	}

	.deaths-chart--chart-area{
		position: relative;
		margin-right: 20px;
		margin-left: 115px;

		.deaths-chart--axis{
			position: relative;
			display: block;
			list-style: none;
			margin: 0;
			padding: 0;
			overflow: visible;
			white-space: nowrap;

			.deaths-chart--axis_1{
				left: 0;
			}
			.deaths-chart--axis_2{
				left: 21%;
			}
			.deaths-chart--axis_3{
				left: 44%;
			}
			.deaths-chart--axis_4{
				left: 66%;
			}
			.deaths-chart--axis_5{
				left: 89%;
			}

			li{
				position: absolute;
				display: block;
			}
		}

		.deaths-chart--bg{
			z-index: 1;
			position: absolute;
			top: 30px;
			left: 0;
			bottom: 0;
			right: 0;

			.deaths-chart--bg-section{
				width: 23%;
				float: left;
				height: 100%;
				border-left: 1px solid #aeaeae;  
				border-top: 1px solid #aeaeae;  
				border-bottom: 1px solid #aeaeae;  
			}

			.deaths-chart--bg-section__last{
				border-right: 1px solid #aeaeae;  
			}

		}

		.deaths-chart--bars{
			z-index: 20;
			position: absolute;
			top: 30px;
			left: 0;
			bottom: 0;
			right: 8%;

			.deaths-chart--bar{
				clear: left;
				float: left;
				width: 0;
 				background-color: #006767;
 				margin: 6px 0;
			}

			.deaths-chart--bar-label{
				display: none;
				position: absolute;
				font: bold 18px Arial;
				padding-left: 10px;
				color: #006767;
			}

			.deaths-chart--bg-section__last{
				border-right: 1px solid #aeaeae;  
			}

		}
	}
}
