.group-chart{
	display: block;
	margin: 0 auto;
	width: 100%;

	h4{
		margin: 25px 0;
		font-weight: bold;
		font-size: 24px;
		color: $mainTextColor;
		text-align: center;
	}

	.group-chart--items{
		.group-chart--row{
			overflow: hidden;
			margin: 0 auto;
			width: 270px;

			.group-chart--bar{
				margin: 10px 0;
				width: 130px;
				float: left;
			}

			.group-chart--label{
				padding: 0;
				float: left;
				display: block;
				margin: 5px 0 5px 20px;
				width: 120px;
				font-size: 18px;
			}

		}
	}
}
