.group-chart{
	float: right;
	width: 270px;

	h4{
		margin-top: 0;
		font: bold 24px Arial;
		color: $mainTextColor;
	}

	.group-chart--items{
		.group-chart--row{
			overflow: hidden;

			.group-chart--bar{
				margin: 10px 0;
				width: 130px;
				float: left;
			}

			.group-chart--label{
				padding: 0;
				float: left;
				display: block;
				margin: 5px 0 5px 20px;
				width: 120px;
				font: 18px Arial;
			}

		}
	}
}
