@include respondMinMax(480px, false){
	.top-methods .top-methods--list li{
		float: left;
		width: 33%;
	}

	.group-chart .group-chart--items .group-chart--row{
		width: 340px;

		.group-chart--bar{
			width: 200px;
		}
	}

	.deaths-chart .deaths-chart--chart-area .deaths-chart--axis {

		.deaths-chart--axis_2, .deaths-chart--axis_4{
			display: block;
		} 

		.deaths-chart--axis_3{
			left: 44%;
		}

		.deaths-chart--axis_5{
			left: 89%;
		}
	}


}

@include respondMinMax(768px, false){
	.top-methods{
		margin: 0 280px 0 0;

		h4{
			text-align: left;
		}

		.top-methods--list li strong{
			font-size: 4.8em;
		}
	}

	.group-chart{
		position: absolute;
		top: 0;
		right: 0;
		width: 270px;

		h4{
			margin: 0 0 8px;
			text-align: left;
		}

		.group-chart--items .group-chart--row{
			width: 270px;
			
			.group-chart--bar{
				width: 130px;
			}
		}
	}

	.deaths-chart{
		margin-right: 280px;
	}
}

@include respondMinMax(900px, false){
	.top-methods .top-methods--list li strong{
		font-size: 5.6em;
	}
}