.top-methods{
	margin: 0 auto;
	clear: both;
	overflow: hidden;

	h4{
		font-weight: bold;
		font-size: 2.4em;
		margin: 25px 0;
		color: $mainTextColor;
		text-align: center;
	}

	.top-methods--list{
		list-style: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
		
		li{
			margin: 10px auto;
			width: 170px;
			font-weight: normal;
			font-size: 1.8em;
			color: $mainTextColor;
			text-align: center;

			strong{
				display: block;
				font-weight: bold;
				font-size: 4.2em;
				color: #9a4b71;
			}
		}
	}
}
