.top-methods{
	margin: 0 auto;
	clear: both;
	overflow: hidden;

	h4{
		font: bold 24px Arial;
		color: $mainTextColor;
		text-align: center;
	}

	.top-methods--list{
		list-style: none;
		margin: 0;
		padding: 0;
		
		li{
			margin: 10px auto;
			width: 170px;
			font: normal 18px Arial;
			color: $mainTextColor;
			text-align: center;

			strong{
				display: block;
				font: bold 42px Arial;
				color: #9a4b71;
			}
		}
	}
}
