.top-methods{
	margin: 0 280px 0 100px;
	overflow: hidden;

	h4{
		font: bold 24px Arial;
		color: $mainTextColor;
	}

	.top-methods--list{
		list-style: none;
		margin: 0;
		padding: 0;
		
		li{
			float: left;
			width: 33%;
			font: normal 18px Arial;
			color: $mainTextColor;
			text-align: center;

			strong{
				display: block;
				font: bold 56px Arial;
				color: #9a4b71;
			}
		}
	}
}
