<div class="mapTooltipHolder hideMe">
	<a href="#" class="mapTooltipClose"></a>
	<h2></h2>
	<div class="mapTooltipSeperator"></div>
	<div class="tooltipFigureHolder">
		<h3 class="deathFigure"></h3>
		<span><%= big_map_box_deaths %></span>
	</div><div class="tooltipFigureHolder">
		<h4 class="deathFigure"></h4>
		<span><%= big_map_box_deaths_percentage %></span>
	</div><div class="tooltipFigureHolder">
		<h3 class="attackFigure"></h3>
		<span><%= big_map_box_attacks %></span>
	</div><div class="tooltipFigureHolder">
		<h4 class="attackFigure"></h4>
		<span><%= big_map_box_attacks_percentage %></span>
	</div>
    <div class="arrow-left"></div>
    <div class="arrow-right"></div>
    <div class="arrow-top"></div>
    <div class="arrow-bottom"></div>
</div>