<div class="miniMapTooltipHolder hideMe">
	<a href="#" class="miniMapTooltipClose"></a>

	<div class="tooltipHeader">
		<h3><%= small_map_date %> </h3>
		<span class="date"></span>
	</div>

	<div class="mapTooltipSeperator"></div>

	<div class="tooltipFigureHolder">
		<h3><%= small_map_deaths %> </h3>
		<span class="killed"></span>
	</div>
	<div class="tooltipFigureHolder">
		<h3><%= small_map_type %> </h3>
		<span class="type"></span>
	</div>
	<div class="tooltipFigureHolder">
		<h3><%= small_map_group %> </h3>
		<span class="group"></span>
	</div>

    <div class="arrow-left"></div>
    <div class="arrow-right"></div>
    <div class="arrow-top"></div>
    <div class="arrow-bottom"></div>
</div>