<div class="miniMapTooltipHolder hideMe">
	<a href="#" class="miniMapTooltipClose"></a>

	<div class="tooltipHeader">
		<h3>DATE: </h3>
		<span class="date">1 Nov 14</span>
	</div>

	<div class="mapTooltipSeperator"></div>

	<div class="tooltipFigureHolder">
		<h3>KILLED: </h3>
		<span class="killed">48</span>
	</div>
	<div class="tooltipFigureHolder">
		<h3>TYPE: </h3>
		<span class="type">Bomb</span>
	</div>
	<div class="tooltipFigureHolder">
		<h3>GROUP: </h3>
		<span class="group">Taliban</span>
	</div>

    <div class="arrow-left"></div>
    <div class="arrow-right"></div>
    <div class="arrow-top"></div>
    <div class="arrow-bottom"></div>
</div>