<div class="miniMapTooltipHolder hideMe">
	<a href="#" class="miniMapTooltipClose"></a>

	<div class="tooltipHeader">
		<label><%= small_map_date %> </label>
		<span class="date"></span>
	</div>

	<div class="mapTooltipSeperator"></div>

	<div class="tooltipFigureHolder">
		<label><%= small_map_deaths %> </label>
		<span class="killed"></span>
	</div>
	<div class="tooltipFigureHolder">
		<label><%= small_map_type %> </label>
		<span class="type"></span>
	</div>
	<div class="tooltipFigureHolder">
		<label><%= small_map_group %> </label>
		<span class="group"></span>
	</div>

    <div class="arrow-left"></div>
    <div class="arrow-right"></div>
    <div class="arrow-top"></div>
    <div class="arrow-bottom"></div>
</div>