/* Contains language specific styling */

.lang_urdu{
	.mapLegend__desktop{
		width: 270px;
	}
}

.lang_hausa{
	.mapHolder .mapBottomBar{
		font-size: 8px;
	}
	@include respondMinMax(860px, false){
		.mapHolder .mapBottomBar .stat{
			padding-top: 25px;
		}
	}
}