@import "news_special/defaults";
@import "mixins";
@import "map";
@import "miniMap";
@import "mapTooltip";
@import "miniMapTooltip";
@import "animations";

body {
	font-size:16px;
}


.hideMe {
	display:none;
}

.visibilityHidden {
	visibility: hidden;
}