.mapHolder {
	position:relative;
	width:100%;
	height:0;
	padding-bottom: 56%;

	canvas {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	.hideCanvas {
		opacity: 0;
	}

	.mapBottomBar {
		z-index:2;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:100px;
		background: rgba(0,0,0,0.1);

		.stat{
			float: left;
			width: 25%;
			color: #404040;
			padding-top: 30px;
			margin: 0;
			font: bold 24px Arial;
			text-align: center;

			strong{
				font: bold 42px Arial;
			}
		}
		.stat__deaths strong{
			color: #007f7f;
		}
		
		.stat__attacks strong{
			color: #de5857;
		}
	}
}