.mapHolder {
	position:relative;
	width:100%;
	height:0;
	padding-bottom: 56%;

	canvas {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	.hideCanvas {
		opacity: 0;
	}

	.mapBottomBar {
		display: none;
		z-index:2;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height: 57px;
		background: rgba(0,0,0,0.1);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1c000000', endColorstr='#1c000000'); /* IE */


		.stat{
			display: none;
			padding-top: 5px;
			float: left;
			width: 25%;
			color: #404040;
			margin: 0;
			font: bold 16px Arial;
			text-align: center;

			strong{
				display: block;
				font: bold 24px Arial;
			}
		}
		.stat__deaths strong{
			color: #007f7f;
		}
		
		.stat__attacks strong{
			color: #de5857;
		}
	}

	.interactiveInfoOverlay{
		display: none;
		position: absolute;
		z-index: 50;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background: #000;
		opacity: 0.8;

		 h4{
		 	display: block;
		 	margin: 25% auto 0;
		 	color: #FFF;
		 	font: bold 24px Arial;
		 	text-align: center;
		 	max-width: 400px;
		 }
	}

	.restartButton{
		display: none;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		background: #000;
		opacity: 0.8;
		padding: 10px;
		cursor: pointer;

		span{
			display: none;
			color: #fff;
			font: bold 16px Arial;
		}
	}
}