.mapHolder {
	position:relative;
	width:100%;
	height:0;
	padding-bottom: 56%;

	canvas {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	.hideCanvas {
		opacity: 0;
	}

	.mapBottomBar {
		display: none;
		z-index:2;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height: 57px;
		background: rgba(0,0,0,0.1);

		.stat{
			display: none;
			padding-top: 5px;
			float: left;
			width: 25%;
			color: #404040;
			margin: 0;
			font: bold 16px Arial;
			text-align: center;

			strong{
				display: block;
				font: bold 24px Arial;
			}
		}
		.stat__deaths strong{
			color: #007f7f;
		}
		
		.stat__attacks strong{
			color: #de5857;
		}
	}
}