.mapLegend__mobile{
	padding: 16px 20px 5px;
	background-color: #efefef;
	color: #404040;
	font-size: 1.6em;
	text-align: center;

	h6{
		margin: 0 0 6px 0;
		font-size: 1em;
		font-weight: bold;
	}

	p{
		margin: 8px 0;
	}
}

.mapLegend__desktop{
	display: none;
	position: absolute;
	width: 246px;
	top: 0;
	right: 0;
	z-index: 2;
	padding: 16px 20px;

	background-color: #efefef;
	color: #404040;
	font-size: 1.6em;

	h6{
		margin: 0 0 6px 0;
		font-weight: bold;
		font-size: 1em;
	}

	.legendKeys{
		margin: 5px 0;

		svg{
			margin: 0 5px;
			vertical-align:middle;
		}
	}
}