.mapTooltipHolder {
	z-index:3;
	position:absolute;
	background-color: #2d2d2d;
	background: rgba(45,45,45,0.9);
	padding: 10px;
	margin:0;
	width: 250px;
	min-height: 100px;

	.mapTooltipClose {
		background: #2d2d2d url(../img/close_btn_sprite.png) 0 0 no-repeat;
		position:absolute;
		top:10px;
		right:10px;
		width:28px;
		height:28px;
	}

	.mapTooltipClose:hover {
		background-position: -28px 0;
	}

	h2 {
		color: #fff;
		font-size: 1.3em;
		@include box-sizing();
		padding: 0 48px 5px 0;
		margin: 0;
		min-height: 33px;

	}

	.mapTooltipSeperator {
		width:100%;
		height:1px;
		background-color:#666;
	}

	.tooltipFigureHolder {
		display: inline-block;
		width: 50%;

		h3 {
			font-size: 1.9em;
			margin: 20px 0 5px 0;
		}

		h4 {
			font-size: 1.6em;
			margin: 20px 0 5px 0;
		}
		
		span {
			display: block;
			font-size: 1em;
			color: #fff;
		}
	}

	.deathFigure {
		color:#5C908F;
	}

	.attackFigure {
		color:#719C39;
	}

	.arrow-left {
		position: absolute;
		top: 50%;
		left: -16px;
		margin-top: -16px;

		width: 0; 
		height: 0; 
		border-top: 16px solid transparent;
		border-bottom: 16px solid transparent; 
		
		border-right:16px solid;

		border-right-color: #2d2d2d;
		border-right-color: rgba(45,45,45,0.9);
	}

	.arrow-right {
		position: absolute;
		top: 50%;
		right: -16px;
		margin-top: -16px;

		width: 0; 
		height: 0; 
		border-top: 16px solid transparent;
		border-bottom: 16px solid transparent; 
		
		border-left:16px solid;

		border-left-color: #2d2d2d;
		border-left-color: rgba(45,45,45,0.9); 
	}

	.arrow-top {
		position: absolute;
		left: 50%;
		top: -16px;
		margin-left: -16px;

		width: 0; 
		height: 0; 
		border-left: 16px solid transparent;
		border-right: 16px solid transparent; 
		
		border-bottom:16px solid;

		border-bottom-color: #2d2d2d;
		border-bottom-color: rgba(45,45,45,0.9);
	}

	.arrow-bottom {
		position: absolute;
		left: 50%;
		bottom: -16px;
		margin-left: -16px;

		width: 0; 
		height: 0; 
		border-left: 16px solid transparent;
		border-right: 16px solid transparent; 
		
		border-top:16px solid; 

		border-top-color: #2d2d2d;
		border-top-color: rgba(45,45,45,0.9);
	}
}