.mini-maps{
	display: none;
	position: relative;
	overflow: hidden;

	h4{
		color: #404040;
		font: bold 20px Arial;
		padding: 10px 55px 0;
		text-align: center;
	}

	.mini-map{
		width: 33.333%;
		margin: 0;
		float: left;

		.miniMapCanvases{
			position: relative;
			height:0;
			padding-bottom: 110%;
			
			canvas{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;

			}
		}

	}
}