@include respondMinMax(450px, false){

	.mapHolder .mapBottomBar .stat{
		padding-top: 15px;

		strong{
			display: inline;
		}
	}

}
@include respondMinMax(760px, false){
	.mini-maps{
		display: block;
	}


	.mini-maps-legend{
		display: block;
	}

	.mapHolder .mapBottomBar{
		height: 80px;

		.stat{
			padding-top: 17px;
			font-size: 24px;
			strong{
				display: inline;
				font-size: 42px
			}
		}
	}

}

@include respondMinMax(800px, false){
	.mapLegend__mobile{
		display: none;
	}

	.mapLegend__desktop{
		display: block;
	}

	.mapHolder .restartButton{
		right: auto;
		left: 0;

		span{
			display: inline;
		}

		svg{
			vertical-align: middle;
			margin-top: -5px;
		}
	}

}
