@include respondMinMax(540px, false){

	.mapHolder .mapBottomBar .stat{
		padding-top: 15px;

		strong{
			display: inline;
		}
	}
	
	.mapHolder .mapBottomBar .stat{
		text-transform: uppercase;
	}


}
@include respondMinMax(760px, false){

	.mini-maps{
		display: block;
	}

}

@include respondMinMax(800px, false){
	.mapLegend__mobile{
		display: none;
	}

	.mapLegend__desktop{
		display: block;
	}

	.mapHolder .restartButton{
		right: auto;
		left: 0;

		span{
			display: inline;
		}

		svg{
			vertical-align: middle;
			margin-top: -5px;
		}
	}

}
@include respondMinMax(860px, false){
	.mapHolder .mapBottomBar{
		height: 80px;

		.stat{
			padding-top: 17px;
			font-size: 2.4em;

			strong{
				display: inline;
				font-size: 1.75em
			}
		}
	}
}