.ltr{
	direction: ltr;
}
.rtl{
	direction: rtl;
	.mapHolder{
		 .mapBottomBar .stat{
			float: right;
		}

		.mapTooltipHolder{
			h2{
				padding: 0 0 5px 48px;
			}

			 .mapTooltipClose{
				right: auto;
				left: 10px;	
			}
		}
	}

	.mini-maps .miniMapTooltipHolder{
		width: 280px;

		h2{
			padding: 0 0 5px 48px;
		}

		.miniMapTooltipClose{
			right: auto;
			left: 10px;
		}

	}

}