.ltr{
	direction: ltr;
}
.rtl{
	font-size: 11px;

	direction: rtl;
	.mapHolder{
		 .mapBottomBar .stat{
			float: right;
		}

		.mapTooltipHolder{
			h2{
				padding: 0 0 5px 48px;
			}

			 .mapTooltipClose{
				right: auto;
				left: 10px;	
			}
		}
	}

	.mapHolder .mapBottomBar .stat{
			padding-top: 10px;
			line-height: 1.3em;
	}

	.mini-maps .miniMapTooltipHolder{
		width: 280px;
		line-height: 2em;
		
		h2{
			padding: 0 0 5px 48px;
		}

		.miniMapTooltipClose{
			right: auto;
			left: 10px;
		}

	}

}


@include respondMinMax(540px, false){
	.rtl .mapHolder .mapBottomBar .stat{
		line-height: initial;
	}
}

@include respondMinMax(860px, false){
	.rtl .mapHolder .mapBottomBar .stat{
		padding-top: 6px;
	}
}